name: Push dev shell to FlakeHub Cache

on:
  push:
    branches: [main]

jobs:
  push-dev-shell-to-flakehub-cache:
    env:
      ACTIONS_STEP_DEBUG: true
    runs-on: ${{ matrix.systems.runner }}
    permissions:
      id-token: "write"
      contents: "read"
    strategy:
      matrix:
        systems:
          - nix-system: "aarch64-darwin"
            runner: "macos-latest-xlarge"
          - nix-system: "x86_64-darwin"
            runner: "macos-13"
          - nix-system: "x86_64-linux"
            runner: "ubuntu-22.04"
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@main
      - uses: DeterminateSystems/flakehub-cache-action@main
      - name: Build dev shell for ${{ matrix.systems.nix-system }} on ${{ matrix.systems.runner }}
        run: |
          nix build .#devShells.${{ matrix.systems.nix-system }}.default
